<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unjhawalateaadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.unjhawalateaadmin.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <activity
            android:name="com.unjhawalateaadmin.authentication.ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="swastikenterprises.com"
                    android:scheme="https" />
                <data
                    android:host="swastikenterprises.com"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>

        <activity
            android:name="com.unjhawalateaadmin.authentication.ui.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.unjhawalateaadmin.authentication.ui.activity.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.unjhawalateaadmin.authentication.ui.activity.SetPinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.authentication.ui.activity.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.imateplus.upt.authentication.ui.activity.SignUpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.unjhawalateaadmin.authentication.ui.activity.VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.common.ui.activity.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.unjhawalateaadmin.common.ui.activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.DashBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.RetailersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.AgenciesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.AddMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.RetailerDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.PendingRetailersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.TransferKgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.WorkingAreaListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.WorkingSubAreaListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.WorkingAreaDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ScanQrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.RewardPointsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ViewProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.EditAvailableAgencyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.EditPersonalDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ChangePinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.CartListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.ToDoListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.AddToDoListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.CaseCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.MyDocumentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.OrderHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.PendingMyOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.RatePrintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.MyOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.PersonalDocumentListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.KgHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.MarshalBookListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.OrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.OrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unjhawalateaadmin.dashboard.ui.activity.SupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name="com.unjhawalateaadmin.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_white_120" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />


    </application>

</manifest>